section {
    width: 100%;
}

.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    max-width: 1200px;
}

.features-container h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 100%;
    text-align: center;
    color: #333;
}

.features-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5rem;
}

.features-items-container > div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .75rem;
    min-width: 12rem;
    max-width: 19rem;
    padding: 1.25rem;
    background-color: #fff;
    border-radius: .5rem;
}

.features-items-container > div:nth-child(1)::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #6ACF9D;
    border-radius: 50%;
    top: 5%;
    left: -5%;
    z-index: -1;
}

.features-items-container > div:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #6ACF9D;
    border-radius: 50%;
    top: -5%;
    left: 25%;
    z-index: -1;
}

.features-items-container > div:nth-child(2)::before {
    content: "";
    position: absolute;
    background-image: url('../../../assets/images/featvector1.png');
    width: 125px;
    height: 117px;
    border-radius: 50%;
    top: -18%;
    left: -12%;
    z-index: -1;
}

.features-items-container > div:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #8789D2;
    border-radius: 50%;
    bottom: -2%;
    right: -12%;
    z-index: -1;
}

.features-items-container > div:nth-child(3)::before {
    content: "";
    position: absolute;
    background-image: url('../../../assets/images/featvector2.png');
    width: 58px;
    height: 65px;
    border-radius: 50%;
    bottom: -8%;
    left: -5%;
    z-index: -1;
}

.features-items-container > div:nth-child(3)::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #8789D2;
    background-color: #fff;
    border-radius: 50%;
    top: -5%;
    left: 2%;
    z-index: -1;
}

.features-items-container img {
    width: 4rem;
    height: 4rem;
}

.features-items-container h5 {
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 9.6%;
    font-size: 1.25rem;
    color: #000000;
}

.features-items-container p {
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 9.6%;
    font-size: 1.25rem;
    color: #000000;
}

.features-items-container button {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 9.6%;
    padding-inline: .75rem;
    border: 1px solid black;
    border-radius: .5rem;
    background-color: rgba(255, 221, 80, 1);
    color: #333;
    transition: background-color .2s ease;
}

.features-items-container button:hover {
    background-color: rgba(255, 240, 144, 1);
}

@media screen and (min-width: 768px){
    .features-container {
        gap: 5.5rem;
    }
    .features-items-container {
        flex-direction: row;
        justify-content: space-between;;
    }

    .features-container h2 {
        font-weight: 600;
        line-height: 100%;
        font-size: 3.75rem;
        color: #333;
    }

    .features-items-container > div:nth-child(1)::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: #6ACF9D;
        border-radius: 50%;
        top: -5%;
        left: -5%;
        z-index: -1;
    }

    .features-items-container > div:nth-child(1)::after {
        content: "";
        position: absolute;
        width: 55px;
        height: 55px;
        background-color: #6ACF9D;
        border-radius: 50%;
        top: -20%;
        left: 35%;
        z-index: -1;
    }

    .features-items-container > div:nth-child(3)::before {
        content: "";
        position: absolute;
        background-image: url('../../../assets/images/featvector2.png');
        width: 58px;
        height: 65px;
        border-radius: 50%;
        bottom: -8%;
        right: -12%;
        left: auto;
        z-index: -1;
    }

    .features-items-container > div:nth-child(3)::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        border: 1px solid #8789D2;
        background-color: #fff;
        border-radius: 50%;
        top: 2%;
        right: -5%;
        left: auto;
        z-index: -1;
    }
}