.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}

.info-header {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
}

.info-header h2 {
    font-style: Bold;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 3.75rem;
    font-weight: 700;
    color: #333;
}

.info-header p {
    font-style: Medium;
    letter-spacing: 9.6%;
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 500;
    color: #333;
}

.info-items-container {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-width: 12rem;
    max-width: 20.5rem;
}

.info-item img {
    width: 80px;
    height: 80px;
}

.info-item p {
    font-style: Medium;
    letter-spacing: 9.6%;
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: #333;
}

@media screen and (max-width: 768px) {
    .info-items-container {
        flex-direction: column;
        gap: 3rem;
    }

    .info-item img {
        width: 40px;
        height: 40px;
    }
}