.video-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.video-section-container h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 100%;
    text-align: center;
    color: #333;
}

.video-container {
  width: 100%;
  max-width: 1120px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .video-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.video-section-container h2 {
    font-weight: 600;
    line-height: 100%;
    font-size: 3.75rem;
    color: #333;
}
}