footer {
    background-color: #ffdd50;
    color: #000;
    padding: 3rem 6rem 1rem 6rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.footer-container ul {
    margin-left: 2rem
}

.footer-container ul li {
    padding: .5rem .5rem .5rem .25rem;
    list-style-type: disc;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
    letter-spacing: 9.6%;
}

.mobile-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: column;
}

.links img {
    width: 104px;
    height: 24px;
}

.links p {
    margin-top: 1.5rem;
}

.contact-info p:nth-child(1) {
    margin-top: 3rem;
}

.links p, .contact-info p:nth-child(1) {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 30px;
    letter-spacing: 9.6%;
}

.contact-info p:nth-child(2), span {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
    letter-spacing: 9.6%;
}

.copyright {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
    letter-spacing: 9%;
    text-align: center;
    margin-top: 2rem;
    color: #000;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: .875rem;
}

.contact-info > div{
    display: flex;
    gap: .875rem;
}

.footer-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.contact-info div:nth-of-type(1) img {
    width: 22px;
    height: 18px;
}

.contact-info div:nth-of-type(2) img {
    width: 18px;
    height: 22px;
}

@media screen and (max-width: 1024px) {
    footer {
        padding: 2rem 3rem 1rem 3rem;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 2rem 1.5rem 1rem 1.5rem;
    }

    .footer-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .mobile-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .footer-container .links {
        width: 50%;
    }

    .footer-container ul li {
        font-weight: 500;
        font-size: 1rem;
        line-height: 30px;
    }

    .links p {
        margin-top: 1.25rem;
    }

    .contact-info p:nth-child(1) {
        margin-top: 2.75rem;
    }

    .links p, .contact-info p:nth-child(1) {
        font-weight: 800;
        font-size: 1rem;
        line-height: 30px;
        letter-spacing: 9.6%;
    }

    .contact-info p:nth-child(2), span {
        font-weight: 500;
        font-size: 1rem;
        line-height: 30px;
        letter-spacing: 9.6%;
    }

    .copyright {
        font-weight: 500;
        font-size: 1rem;
        line-height: 30px;
    }
}


@media screen and (max-width: 480px) {
    footer {
        padding: 2rem 1rem 1rem 1rem;
    }
    .mobile-wrapper {
        flex-direction: column;
        gap: 0;
    }
}
