body {
    background-color: #fafafa;
}

main section {
    padding-inline: 1rem;
}


@media screen and (min-width: 768px) {
    main section {
        padding-bottom: 8rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }
}