.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.info-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.info-header h2 {
    font-size: 2.25rem;
    color: #333;
}

.info-header p {
    font-size: 1rem;
    color: #333;
}

.info-items-container {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.info-item img {
    width: 50px;
    height: 50px;
}

.info-item p {
    font-size: 0.75rem;
    color: #333;
}

@media screen and (max-width: 768px) {
    .info-items-container {
        flex-direction: column;
        gap: 3rem;
    }

    .info-item img {
        width: 40px;
        height: 40px;
    }
}