header {
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    max-width: 1700px;
    margin-inline: auto;
}

nav .nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav a {
    padding: 10px;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 30px;
    letter-spacing: 9.6%;
    text-decoration: none;
    border-radius: .5rem;
    color: #000000;
    transition: background-color .2s ease;
}

nav ul a.active,
nav ul a:hover {
    background-color: #FFDD50;
    border-radius: .5rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 1.5rem;
}

nav ul li {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
}

.nav-link {
    cursor: pointer;
}

.hamburger {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    z-index: 20;
}

.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s linear;
}

.nav-links {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: #fafafa;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
    padding-top: 5rem;
}

.nav-links.open {
    transform: translateX(0);
}

.hamburger.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media (min-width: 768px) {

    nav {
        padding: 6.25rem 3rem 4.75rem 3rem;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;
        padding: 0;
    }

    nav ul li {
        width: auto;
        border-bottom: none;
        padding-bottom: 0;
    }

    .hamburger {
        display: none;
    }

    .nav-links {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0);
        box-shadow: none;
        padding-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        padding: 6.25rem 7rem 4.75rem 7rem;
    }
}

@media screen and (min-width: 1440px) {
    nav {
        padding: 6.25rem 10rem 4.75rem 10rem;
    }
}