header {
    position: relative;
    z-index: 10;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.25rem 10rem 4.75rem 10rem;
}

nav .nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav a {
    padding: 10px;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 30px;
    letter-spacing: 9.6%;
    text-decoration: none;
    color: #000000;
    transition: color 0.8s ease;
}
nav ul a.active,
nav ul a:hover {
    background-color: #FFDD50;
    border-radius: .5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.25rem;
}

.nav-link {
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}

.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s linear;
}

@media (max-width: 768px) {

    nav {
        padding: 2rem 1.5rem;
    }
    
    .hamburger {
        display: flex;
        z-index: 20;
    }

    .nav-links {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        background-color: #fff;
        box-shadow: -2px 0 5px rgba(0,0,0,0.1);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
        padding-top: 5rem;
    }

    .nav-links.open {
        transform: translateX(0);
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 1.5rem;
        gap: 1rem;
    }
    
    nav ul li {
        width: 100%;
        border-bottom: 1px solid #eee;
        padding-bottom: 0.5rem;
    }
    
    .hamburger.open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}