.about-hero-section {
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
    overflow-x: clip;
}

.about-hero-container {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 100px);
    gap: 2px;
    background-color: #00000033;
    border-top: 1px solid #00000033;
}

.about-hero-container > div {
    background-color: #fafafa;
}

.about-hero-container::after,
.about-hero-container::before {
    content: "";
    width: 1200px;
    height: 1200px;
    position: fixed;
    filter: blur(180px);
}

.about-hero-container::after {
    position: absolute;
    top: -45%;
    right: -30%;
    background: radial-gradient(
        circle,
        rgba(151, 71, 255, 0.25) 0%,
        rgba(151, 71, 255, 0.12) 30%,
        rgba(151, 71, 255, 0.05) 50%,
        transparent 75%
    );
}

.about-hero-container::before {
    position: absolute;
    bottom: -50%;
    left: -30%;
    background: radial-gradient(
        circle,
        rgba(151, 71, 255, 0.25) 0%,
        rgba(151, 71, 255, 0.12) 30%,
        rgba(151, 71, 255, 0.05) 50%,
        transparent 75%
    );
}

.about-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / span 4;
    grid-row: 2 / span 3;
}

.about-hero-section h1 {
    font-weight: 800;
    font-size: 68px;
    line-height: 96px;
    letter-spacing: 2.64%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .about-hero-section h1{
        font-size: 3rem;
    }

    .about-hero-container::after,
    .about-hero-container::before {
        width: 600px;
        height: 600px;

    }

    .about-hero-container::after {
    top: -25%;
    right: -15%;

    }

    .about-hero-container::before {
        bottom: -30%;
        left: -15%;
    }
}

@media screen and (max-width: 480px) {
    .about-hero-section h1{
        font-size: 2rem;
    }
}