.about-info-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
    max-width: 1400px;
    margin-inline: auto;
}

.about-info-section h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.about-info-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.about-info-container img {
    width: 90%;
    height: auto;
}

.about-info-container p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 9.6%;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

blockquote {
    position: relative;
    padding: 2rem;
    margin-block-start: 4rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    max-width: 640px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

blockquote::before {
    content: open-quote;
    position: absolute;
    font-size: 4rem;
    vertical-align: top;
    color: #000000;
    top: -0%;
    left: 5%;
}

blockquote::after {
    content: close-quote;
    position: absolute;
    font-size: 4rem;
    vertical-align: bottom;
    color: #000000;
    bottom: -17%;
    right: 5%;
}

@media screen and (min-width: 768px) {
    .about-info-container {
        flex-direction: row;
        gap: 3rem;
    }
    .about-info-container img {
        width: 300px;
        height: auto;
    }

    .about-info-container p {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 30px;
        letter-spacing: 9.6%;
        text-align: center;
        color: #333;
    }

    .about-info-section h2 {
        font-size: 40px;
        line-height: 100%;
        font-weight: 500;
        color: #333;
    }
}

@media screen and (min-width: 1024px) {
    .about-info-container img {
        width: 350px;
        height: auto;
    }

    .about-info-container p {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 30px;
        letter-spacing: 9.6%;
        color: #333;
    }

    .about-info-section h2 {
        font-weight: 700;
        font-size: 60px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(0, 0, 0, 1);
    }

}

@media screen and (min-width: 1280px) {
    .about-info-container img {
        width: 500px;
        height: auto;
    }
}