.values-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.25rem;
}

.values-section h2 {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
}

.values-section > p {
    text-align: center;
    margin-top: 5rem;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 60px;
    line-height: 152%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.values-list {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

.values-list ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.values-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 320px;
}

.values-list li img {
    width: 80px;
    height: 80px;
}

.divider {
    width: 80px;
    height: 8px;
    background-color: rgba(0, 0, 0, 1);
}

.values-list li h3 {
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 6.86%;
    color: rgba(0, 0, 0, 1);
}

.values-list li p {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 9.6%;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .values-list ul{
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .values-list li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        max-width: 320px;
    }

    .values-list li p {
        text-align: start;
    }
}